@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
.side-nav {
  .side-logo{
    width: 100px;
    margin: auto 0;
  }
  .nav-side {
    padding: 0;
    [class^="item-side"] {
      list-style: none;
      .link-side {
        font-family: $main-font;
        font-display: swap;
        text-decoration: none;
        color: black;
      }
    }
    .item-side--admin {
      position: absolute;
      bottom: 30px;
      .link-side {
        font-weight: bold;
      }
    }
  }
}

.active {
  color: rgb(255, 255, 255) !important;
}
