$primary-blue: whitesmoke;
$primary-blue: rgba(180, 147, 156, 0.459);
// $primary-blue: rgb(183, 218, 212);
$primary-yellow: rgb(202, 190, 14);
$primary-gray: rgb(17, 17, 17);
$shadow-gray: rgb(59, 59, 59);
$nav-gray: rgb(50, 50, 50);
$primary-green: rgb(15, 141, 15);
$primary-red: rgb(199, 42, 42);
