<div class="list-container">

<div fxLayout="row wrap" fxLayoutAlign="center">
  <button
    fxFlex="100"
    fxFlex.gt-xs="95"
    mat-flat-button
    class="add-btn"
    (click)="openDialog(category, 'edit')"
  >
    Add new one
  </button>
  <table
    fxFlex="100"
    fxFlex.gt-xs="95"
    class="table"
    mat-table
    [dataSource]="dataSource"
  >
    <ng-container [matColumnDef]="col" *ngFor="let col of columns">
      <th class="table-head" mat-header-cell *matHeaderCellDef>
        {{ col }}
      </th>
      <div *ngIf="col != 'edit' ">
        <td mat-cell class="table-cell" *matCellDef="let item">
          {{ item[col] }}
        </td>
      </div>

      <div *ngIf="col == 'edit'">
        <td mat-cell *matCellDef="let item">
          <button mat-button [matMenuTriggerFor]="edit">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #edit="matMenu">
            <button mat-menu-item (click)="openDialog(item, 'edit')">
              <p><mat-icon>edit</mat-icon>Edit</p>
            </button>
            <button mat-menu-item (click)="onDelete(item)">
              <p><mat-icon>delete</mat-icon>Delete</p>
            </button>
          </mat-menu>
        </td>
      </div>
    </ng-container>
    <tr class="table-head" mat-header-row *matHeaderRowDef="columns"></tr>
    <tr
      class="table-row"
      mat-row
      *matRowDef="let itemRow; columns: columns"
    ></tr>
  </table>
  <mat-paginator
    fxFlex="100"
    fxFlex.gt-xs="95"
    class="paginator"
    #paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>
</div>

