<div fxFlex fxLayout="row" class="header">
  <div class="nav-bar" fxFlex fxLayoutAlign="start center" fxLayout="row">
    <ul
      class="nav-top"
      fxFlex="60"
      fxFlex.sm="80"
      fxFlex.md="85"
      fxLayoutAlign="space-around start"
      fxLayout="row"
    >
      <li
        class="item-top"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a mat-button class="link-top" routerLink="/items">Items</a>
      </li>
      <li
        class="item-top"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a mat-button class="link-top" routerLink="/categorys">Catergorys</a>
      </li>
    </ul>

    <mat-icon class="person-icon" [matMenuTriggerFor]="logout">person</mat-icon>
    <mat-menu #logout="matMenu">
      <button mat-menu-item >Kijelentkezés</button>
    </mat-menu>
  </div>
</div>
