<div class="list-container">
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <form fxFlex="100" fxLayout="row" class="from" [formGroup]="form">
    <mat-form-field fxFlex="100" fxLayout="row" class="search-area">
      <mat-label class="search-label">Filter</mat-label>
      <!-- <input
        matInput
        class="search-input"
        type="text"
        (keyup)="applyFilter($event)"
      /> -->
      <mat-select
        matInput
        placeholder="Search"
        formControlName="filterKey"
        (selectionChange)="applyFilter()"
      >
        <mat-option [value]="''"> All </mat-option>
        <mat-option [value]="'bags'"> Bags </mat-option>
        <mat-option [value]="'logos'"> Logos </mat-option>
        <mat-option [value]="'portraits'"> Portraits </mat-option>
        <mat-option [value]="'illustrations'"> Illustration </mat-option>
        <mat-option [value]="'greet-print'"> Greeting Cards\Prints </mat-option>
        <mat-option [value]="'calendars'"> Calendars </mat-option>
      </mat-select>
    </mat-form-field></form>
    <button
      fxFlex="100"
      fxFlex.gt-xs="95"
      mat-flat-button
      class="add-btn"
      (click)="openDialog(item, 'edit')"
    >
      Add new one
    </button>
    <table
      fxFlex="100"
      fxFlex.gt-xs="95"
      class="table"
      mat-table
      [dataSource]="dataSource"
    >
      <ng-container [matColumnDef]="col" *ngFor="let col of columns">
        <th class="table-head" mat-header-cell *matHeaderCellDef>
          {{ col }}
        </th>
        <div *ngIf="col != 'edit' && col != 'mainImage'">
          <td mat-cell class="table-cell" *matCellDef="let item">
            {{ item[col] }}
          </td>
        </div>
        <div *ngIf="col == 'mainImage'">
          <td mat-cell class="table-cell" *matCellDef="let item">
            <img
              src="{{ item[col] }}"
              alt="{{ item[col] }}"
              style="width: 100px"
              loading="lazy"
            />
          </td>
        </div>
        <div *ngIf="col == 'edit'">
          <td mat-cell *matCellDef="let item">
            <button mat-button [matMenuTriggerFor]="edit">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #edit="matMenu">
              <button mat-menu-item (click)="openDialog(item, 'edit')">
                <p><mat-icon>edit</mat-icon>Edit</p>
              </button>
              <button mat-menu-item (click)="openDialog(item, 'del')">
                <p><mat-icon>delete</mat-icon>Delete</p>
              </button>
            </mat-menu>
          </td>
        </div>
      </ng-container>
      <tr class="table-head" mat-header-row *matHeaderRowDef="columns"></tr>
      <tr
        class="table-row"
        mat-row
        *matRowDef="let itemRow; columns: columns"
      ></tr>
    </table>
    <mat-paginator
      fxFlex="100"
      fxFlex.gt-xs="95"
      class="paginator"
      #paginator
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
