@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
.list-container {
  height: 100vh;
  background-color: rgb(230, 230, 230);
}
.search-area {
  font-family: $secondary-font;
  margin: 20px;
  margin-top: 50px;
  .search-label {
    color: black;
  }
}
.add-btn {
  margin: 10px auto;
  box-shadow: 0 0 9px $shadow-gray;
  font-family: $secondary-font;
  background-color: $primary-green;
  color: whitesmoke;
}
.table-row:nth-child(even) {
  background-color: $primary-blue;

}
mat-menu{
  border-top:0;
}
.table-cell {
  font-family: $main-font;
  font-size: small;
  overflow: hidden;
}
.paginator {
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .table-cell {
    font-size: medium;
  }
}
