<div
  fxFlex
  fxLayoutAlign="center center"
  fxLayout="column"
  class="form-container"
>
  <h2 mat-dialog-title>Edit</h2>

  <form
    class="form"
    fxFlex
    fxLayoutAlign="center"
    fxLayout="row wrap"
    [formGroup]="form"
  >
    <div class="form-section" fxFlex="100" fxFlex.gt-sm="45" fxLayout="column">
      <mat-form-field *ngIf="this.form.get('id').value != '0'">
        <input matInput placeholder="Id" formControlName="id" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
        <!-- <div *ngIf="form.get('address').invalid && !form.pristine">
          <div class="error-message">
            {{
              form.get("address").hasError("required")
                ? "Cím megadása kötelező"
                : "Cím túl hosszú"
            }}
          </div>
        </div> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Date" formControlName="date" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Description"
          formControlName="description"
        />
      </mat-form-field>
      <div fxFlex>
        <mat-form-field>
          <mat-select
            matInput
            placeholder="Category"
            formControlName="category"
          >
            <mat-option *ngFor="let opt of categoryOpt" [value]="opt.name">{{
              opt.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="add-btn" (click)="newCat = true">
          <mat-icon class="add-icon">add</mat-icon>
        </button>
      </div>
      <div *ngIf="newCat">
        <mat-form-field fxLayout="row">
          <input
            matInput
            placeholder="New Category"
            formControlName="newCategory"
          />
        </mat-form-field>

        <button class="add-btn" (click)="createNewCat()">
          <mat-icon class="check-icon">check</mat-icon>
        </button>
        <button class="close-btn" (click)="newCat = false">
          <mat-icon class="close-icon">close</mat-icon>
        </button>
      </div>
      <div fxFlex>
        <mat-form-field>
          <mat-select matInput placeholder="Technique" formControlName="tech">
            <mat-option *ngFor="let opt of techOpt" [value]="opt.name">{{
              opt.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="add-btn" (click)="newTech = true">
          <mat-icon class="add-icon">add</mat-icon>
        </button>
      </div>
      <div *ngIf="newTech">
        <mat-form-field fxLayout="row">
          <input
            matInput
            placeholder="New Technique"
            formControlName="newTech"
          />
        </mat-form-field>

        <button class="add-btn" (click)="createNewTech()">
          <mat-icon class="check-icon">check</mat-icon>
        </button>
        <button class="close-btn" (click)="newTech = false">
          <mat-icon class="close-icon">close</mat-icon>
        </button>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxLayout="row" fxLayout.gt-sm="column">
      <div fxLayout="column">
        <label>Main Image</label>
        <img
          *ngIf="progress == 100 && form.get('mainImage').value != ''"
          src="{{ form.get('mainImage').value }}"
          alt="{{ form.get('mainImage').value }}"
          class="image"
        />
        <div ><input class="file" type="file" (change)="fileChangeEvent($event)" /></div>
        <button class="upload-button" mat-button (click)="onUpload(true)">
          Upload
        </button>
      </div>
      <div fxLayout="column" >
        <label>Other Images</label>
        <div
          fxLayout="row wrap"
          *ngIf="progress == 100 && form.get('images').value != ''"
        >
          <div fxLayout="column" *ngFor="let img of form.get('images').value">
            <img
              class="images"
              src="{{ img }}"
              alt="{{ form.get('name').value }}"
            />
          </div>
        </div>

        <div ><input class="file" type="file" (change)="fileChangeEvent($event)" /></div>

        <!-- <ngx-photo-editor
        class="editor"
        [imageChangedEvent]="imageChangedEvent"
        (imageCropped)="imageCropped($event)"
        [aspectRatio]="4 / 3"
        [viewMode]="3"
        [resizeToWidth]="500"
      >
      </ngx-photo-editor> -->
        <img [src]="base64" alt="" />
        <div
          *ngIf="currentPhoto && form.get('mainImage').value != null"
          style="width: 100%; margin: 3px 0"
        >
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
          >
            {{ progress }}%
          </div>
        </div>

        <button class="upload-button" mat-button (click)="onUpload(false)">
          Upload
        </button>
      </div>
    </div>
    <div fxLayout="row" class="btn-group">
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Mentés
      </button>
      <button mat-raised-button (click)="close()">Mégse</button>
    </div>
  </form>
</div>
