<div
  fxFlex
  fxLayoutAlign="center center"
  fxLayout="column"
  class="form-container"
  mat-dialog-content
>
  <form
    class="form"
    fxFlex
    fxLayoutAlign="center"
    fxLayout="row wrap"
    [formGroup]="form"
  >
    <div  class="form-section" fxFlex="100" fxFlex.gt-xs="45" fxLayout="column">
      <mat-form-field *ngIf="this.form.get('id').value != '0'">
        <input matInput placeholder="Id" formControlName="id" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
         <div *ngIf="form.get('name').invalid && !form.get('name').pristine">
          <div class="error-message">
            {{
              form.get("name").hasError("required")
                ? "Name required"
                : "Name cannot be longer than 400 characters"
            }}
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Date" formControlName="date" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Description"
          formControlName="description"
        />
        <div *ngIf="form.get('description').invalid && !form.pristine">
          <div class="error-message">
            Description cannot be longer than 400 characters
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Instagram Link"
          formControlName="instaLink"
        />
      </mat-form-field>
      <mat-form-field *ngIf="isbag">
        <input matInput placeholder="Size" formControlName="size" />
      </mat-form-field>

      <div fxFlex>
        <mat-form-field>
          <mat-select
            matInput
            placeholder="Category"
            formControlName="category"
            (selectionChange)="onCatChange()"
          >
            <mat-option *ngFor="let opt of categoryOpt" [value]="opt.name">{{
              opt.name
            }}</mat-option>
          </mat-select>
          <div *ngIf="form.get('category').invalid && !form.pristine">
            <div class="error-message">
              Category required
            </div>
          </div>
        </mat-form-field>
        <button class="add-btn" (click)="newCat = true">
          <mat-icon class="add-icon">add</mat-icon>
        </button>
      </div>
      <div *ngIf="newCat">
        <mat-form-field fxLayout="row">
          <input
            matInput
            placeholder="New Category"
            formControlName="newCategory"
          />
        </mat-form-field>

        <button class="add-btn" (click)="createNewCat()">
          <mat-icon class="check-icon">check</mat-icon>
        </button>
        <button class="close-btn" (click)="newCat = false">
          <mat-icon class="close-icon">close</mat-icon>
        </button>
      </div>
      <mat-form-field *ngIf="isGreet">
        <mat-select
          matInput
          placeholder="Sub Category"
          formControlName="subCategory"
        >
          <mat-option *ngFor="let opt of subCatOpt" [value]="opt">{{
            opt
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex>
        <mat-form-field>
          <mat-select matInput placeholder="Technique" formControlName="tech">
            <mat-option *ngFor="let opt of techOpt" [value]="opt.name">{{
              opt.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="add-btn" (click)="newTech = true">
          <mat-icon class="add-icon">add</mat-icon>
        </button>
      </div>
      <div *ngIf="newTech">
        <mat-form-field fxLayout="row">
          <input
            matInput
            placeholder="New Technique"
            formControlName="newTech"
          />
        </mat-form-field>

        <button class="add-btn" (click)="createNewTech()">
          <mat-icon class="check-icon">check</mat-icon>
        </button>
        <button class="close-btn" (click)="newTech = false">
          <mat-icon class="close-icon">close</mat-icon>
        </button>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="column" fxLayout.gt-sm="column">
      <div fxLayout="column">
        <div fxLayout="row">
          <label>Preview Image</label>
          <div *ngIf="form.get('mainImage').value == '' || form.get('mainImage').value == null">
            <button
              [class]="preview ? 'close-btn' : 'add-btn'"
              (click)="preview == true ? (preview = false) : (preview = true)"
            >
              <mat-icon class="add-icon">{{
                preview ? "close" : "add"
              }}</mat-icon>
            </button>
          </div>
        </div>

        <div *ngIf="preview && (form.get('mainImage').value == '' || form.get('mainImage').value == null)">
          <input
            class="file"
            type="file"
            (change)="fileChangeEvent($event, true)"
          />

          <ngx-photo-editor
            class="editor"
            [imageChangedEvent]="imageChangedEvent"
            (imageCropped)="imageCropped($event)"
            [aspectRatio]="4 / 3"
            [viewMode]="1"
            [resizeToWidth]="500"
            [imageQuality]="50"
          >
          </ngx-photo-editor>
          <img [src]="base64" alt="" />
          <button
            [disabled]="selectedPreviewFiles == undefined"
            class="upload-button"
            mat-button
            (click)="onUpload('preview'); preview = false"
          >
            Upload
          </button>
        </div>
      </div>

      <div fxLayout="column">
        <div fxLayout="row">
          <label>Full Image</label>
          <div
            *ngIf="
              form.get('mainFullImage').value == '' ||
              form.get('mainFullImage').value == null
            "
          >
            <button
              [class]="full ? 'close-btn' : 'add-btn'"
              (click)="full == true ? (full = false) : (full = true)"
            >
              <mat-icon class="add-icon">{{ full ? "close" : "add" }}</mat-icon>
            </button>
          </div>
        </div>
        <div
          *ngIf="
            full &&
            (form.get('mainFullImage').value == '' ||
              form.get('mainFullImage').value == null)
          "
        >
          <input
            class="file"
            type="file"
            (change)="fileChangeEvent($event, false)"
          />
          <button
            [disabled]="selectedFiles == undefined"
            class="upload-button"
            mat-button
            (click)="onUpload('main'); full = false"
          >
            Upload
          </button>
        </div>
      </div>

      <div  fxLayout="column">
        <div fxLayout="row">
          <label>Extra Images</label>
          <button
            [class]="more ? 'close-btn' : 'add-btn'"
            (click)="more == true ? (more = false) : (more = true)"
          >
            <mat-icon class="add-icon">{{ more ? "close" : "add" }}</mat-icon>
          </button>
        </div>
        <div *ngIf="more">
          <input
            class="file"
            type="file" (change)="fileChangeEvent($event, false)"
          />
          <input
            class="file"
            type="file"
            (change)="fileChangeEvent($event, false)"
          />

          <button
            [disabled]="selectedFiles == undefined"
            class="upload-button"
            mat-button
            (click)="onUpload('more')"
          >
            Upload
          </button>
        </div>
        <div fxLayout="row wrap" *ngIf="imageURLs != []">
          <label fxFlex="100"> <b>Images</b> </label>
          <div fxLayout="column" *ngFor="let img of imageURLs; let i = index">
            <button mat-raised-button class="delete" (click)="onDelete(imageNames[i], i)"><mat-icon class="delete-trash"
              >delete</mat-icon
            ></button>

            <img
              class="images"
              src="{{ img }}"
              alt="{{ form.get('name').value }}"
            />

          </div>
        </div>

        <div
          *ngIf="
            (currentPhoto || currentPreviewPhoto) &&
            form.get('mainImage').value != null
          "
          style="width: 100%; margin: 3px 0"
        >
          <mat-progress-bar
            mode="determinate"
            value="{{ progress }}"
          ></mat-progress-bar>
        </div>
      </div>
    </div>
    <div fxLayout="row" class="btn-group">
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        [class.create]="this.form.get('id').value == 0"
        type="submit"
        (click)="onSubmit()"
      >
        {{this.form.get('id').value == 0 ? 'Create': 'Save'}}
      </button>
      <button mat-raised-button (click)="close()">Close</button>
    </div>
  </form>
</div>
