@import "/src/assets/scss/variables/colors";
.form {
  width: 100%;

}
.progress-bar{
  border-radius: 5px !important;
}
[class$="-btn"]{
  border: transparent;
  border-radius: 5px;
  position: relative;
  line-height: 10px;
  width: 25px ;
  height: 25px;
  opacity: 90%;
  color: whitesmoke;
  transition: opacity 300ms;
}
[class$="-btn"]:hover{
 opacity: 100%;
}
.add-btn{
  background-color: $primary-green;
  .add-icon{
    position: absolute;
    bottom: 0px;
    left: 1px;
  }
  .check-icon{
    position: absolute;
    bottom: 0px;
    left: 1px;
  }
}
.close-btn{
  background-color: $primary-red;
  .close-icon{
    position: absolute;
    bottom: 0px;
    left: 1px;
  }
}
.image{

  width: 100px;
}
.upload-button{
  background-color: $primary-green;
  color: whitesmoke;
}
.error-message {
  width: 100%;
  font-style: italic;
  font-size: 0.8em;
  color: $primary-red;
  overflow: hidden;
  position: absolute;
  top: 30px;
  animation: error 1s 1;
}
.editor{
  position: relative;
}

@keyframes error {
  0% {
    right: -300px;
  }
  25% {
    right: -15px;
  }
  50% {
    right: -50px;
  }
  100% {
    right: 0;
  }
}

@media screen and (min-width: 600px) {
  .form{
    width: 490px;
    .form-section{
      margin:  auto 10px;
    }
  }
}
