@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
html {
  margin: 0;
  padding: 0;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.page-container {
  width: 100vw;
  height: 100vh;
}

.page-content {
  display: flex;
  height: 100%;
  width: 100%;
}
.home-main {
  width: 100%;
  height: 100%;
}

.drawer {
  padding: 20px;
  background-color: rgba($color: $primary-blue, $alpha: 0.8);
  .side-nav {
    .nav-side {
      padding: 0;
      [class^="item-side"] {
        list-style: none;
        .link-side {
          text-decoration: none;
          color: black;
        }
      }
      .item-side--admin {
        position: absolute;
        bottom: 30px;
        .link-side {
          font-weight: bold;
        }
      }
    }
  }

  .active {
    color: rgb(255, 255, 255) !important;
  }
}
.side-logo{
  width: 110px;
  margin: auto 0;
}
.side-img {
  display: none;

  top: 0;
  opacity: 20%;
  box-shadow: 0 0 90px black;
}

@media screen and (min-width: 600px) {
  .side-img {
    display: flex;
  }
  .header {
    position: relative;
  }
  .drawer {
    display: none;
  }
}
