<div fxLayout="column" class="login-container">
  <button mat-button class="back-btn" routerLink="/main/about"><mat-icon>arrow_left</mat-icon>Back Home</button>
  <form
    fxLayout="column"
    class="login"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
     <mat-icon class="login-title">person</mat-icon>

    <div fxLayout="column" class="input-group">
      <mat-form-field>
        <mat-label class="input-label">Email:</mat-label>
        <input
          matInput
          class="input-control"
          id="email"
          type="email"
          formControlName="email"
        />
        <div *ngIf="loginForm.get('email').invalid && !loginForm.get('email').pristine">
          <div class="error-message">
            {{
              loginForm.get("email").hasError("required")
                ? "Email required"
                : "Wrong email format"
            }}
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="input-label">Password:</mat-label>
        <input
          matInput
          class="input-control"
          id="password"
          type="password"
          formControlName="password"
        />
        <div *ngIf="loginForm.get('password').invalid && !loginForm.get('password').pristine">
          <div
            class="error-message"
            *ngIf="loginForm.get('password').hasError('required')"
          >
            Password required
          </div>
        </div>
      </mat-form-field>

      <button
        [disabled]="loginForm.invalid"
        class="login-btn"
        mat-button
        type="submit"
      >
        Login
      </button>
    </div>
  </form>
  <mat-spinner class="spinner" [diameter]="50" *ngIf="isLoading"></mat-spinner>
</div>
