@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";

.text-container {
  margin-top: 20px;
  font-family: $amatic;
  .about-title {
    font-family: $amatic;
  }
  [class^="about-desc"] {
    text-align: justify;
    font-display: swap;
    line-height: 25px;
    font-size: 25px;
  }
  .about-desc-right {
    margin-top: 10px;
  }
  .social-nav {
    .nav-social {
      padding: 0;
      .social-nav--item {
        margin: 5px;
        list-style: none;
        // [class$="link"] {
        //   width: 20px;
        //   height: 20px;
        //   line-height: 19px;
        //   font-size: 13px;
        //   border: transparent;
        //   border-radius: 5px;
        //   text-decoration: none;
        //   color: whitesmoke;
        // }

        .insta-link {
          background-image: linear-gradient(
            120deg,
            rgb(116, 2, 131),
            rgb(255, 0, 0)
          );
          border: transparent;
          border-radius: 5px;
          color: whitesmoke;
          font-size: 13px;
          height: 20px;
          line-height: 19px;
          opacity: 80%;
          text-decoration: none;
          transition: opacity 300ms;
          width: 20px;
          i {
            margin-left: -1.6px;
          }
        }
        .insta-link:hover {
          opacity: 100%;
        }
        .face-link {
          width: 20px;
          height: 20px;
          line-height: 19px;
          font-size: 13px;
          border: transparent;
          border-radius: 5px;
          opacity: 80%;
          transition: opacity 300ms;
          text-decoration: none;
          color: whitesmoke;
          background-color: rgb(5, 61, 146);
        }
        .face-link:hover {
          opacity: 100%;
        }
        .linked-link {
          width: 20px;
          height: 20px;
          line-height: 19px;
          font-size: 13px;
          border: transparent;
          border-radius: 5px;
          opacity: 80%;
          transition: opacity 300ms;
          text-decoration: none;
          color: whitesmoke;
          background-color: rgb(10, 142, 182);
          i {
            margin: -3px 0 0 -1.6px;
          }
        }
        .linked-link:hover {
          opacity: 100%;
        }
      }
    }
  }
}
.about-img--container {
  .about-img {
    margin-top: 10px;
    max-width: 100%;
  }
}
@media screen and(min-width: 600px) {
  .text-container {
    [class^="about-desc"] {
      text-align: left;
    }
    .about-desc-right {
      margin-top: 49px;
    }
  }
  .about-img--container {
    .about-img {
      display: flex;
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
      max-height: 400px;
    }
  }
}
