<main
  fxFlex="100"
  fxFlex.gt-md="70"
  fxFlexOffset.gt-md="15"
  fxLayout="row wrap"
>
  <section
    id="top"
    fxFlex="90"
    fxFlex.gt-xs="45"
    fxFlex.gt-md="33"
    fxFlexOffset="5"
    fxFlexOffset.gt-md="0"
    fxLayout="column"
    class="text-container"
  >
    <h1 class="about-title">Hello,</h1>
    <p class="about-desc-left">
      I'm Lídia, a freelance graphic designer and illustrator from Budapest,
      Hungary. Ever since I was a little child I have been fascinated by visual
      art, drawing and painting.In my spare time I was always drawing something,
      plants, animals, people around me, or creatures of my imagination. It all
      came from me naturally during my childhood, then something has
      changed...After graduating from high school, I decided to put art and
      drawing as well aside and choose a different direction. <br> That wasn't a wise
      idea. <br />
      I nearly totally ruined myself during my college years, as I lost
      connection to my real self, to my creative energies. I had been struggling
      with anorexia nervosa and generalized anxiety disorder for nearly 8 years. <br>
      Luckily, in the previous 2 years I had the chance to return to art and
      creating again.
    </p>
  </section>
  <div
    fxFlex="100"
    fxFlex.gt-xs="45"
    fxFlex.gt-md="33"
    class="about-img--container"
  >
    <img
      class="about-img"
      (contextmenu)="onRightClick($event)"
      src="../../../../assets/img/about_img_2.png"
      alt="about image"
      loading="lazy"
    />
  </div>

  <section
    fxFlex="90"
    fxFlex.gt-md="33"
    fxFlexOffset="5"
    fxFlexOffset.gt-md="0"
    fxLayout="column"
    class="text-container"
  >
    <p class="about-desc-right">
      I also had the chance to figure out what is it that really incites me,
      what is it that truly makes me feel alive and happy and helps me to make
      others happy as well.
      In 2020, I started to run my own business as a graphic designer and
      illustrator and I really started to enjoy life, which I hope, can be seen
      on my works too. During these two years, I have had a lot of exciting
      projects, such as designing greeting and invitation cards, calendars,
      logos, etc., or drawing portraits. Now I know, I’m here on this Earth to
      bring some magic into people's life through my drawings and make them
      cheerful. <br /><br />
      Thank you for visiting my site. Feel free to contact me! :)<br><br>
      P.S.Follow your inner voice!
    </p>
    <nav class="social-nav">
      <ul class="nav-social" fxLayout="row">
        <li class="social-nav--item">
          <a href="https://www.instagram.com/heartandsowl03/" target="_blank">
            <button matTooltip="Instagram" class="insta-link">
              <i class="fa fa-instagram"></i></button
          ></a>
        </li>
        <li class="social-nav--item">
          <a href="https://www.facebook.com/paplidya" target="_blank">
            <button matTooltip="Facebook" class="face-link">
              <i class="fa fa-facebook"></i></button
          ></a>
        </li>
        <li class="social-nav--item">
          <a href="https://www.linkedin.com/in/l%C3%ADdia-pap-1b4406232/" target="_blank">
            <button matTooltip="LinkedIn" class="linked-link">
              <i class="fa fa-linkedin"></i></button
          ></a>
        </li>
      </ul>
    </nav>
  </section>
  <!-- <a href="main/about/#top">Back Top</a> -->
</main>

