@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
.footer {
  margin-top: auto;
  height: 280px;
  background-color: whitesmoke;
  // background-color: $primary-blue;
  [class^="nav-list"] {
    list-style: none;
    padding: 0;
    [class^="nav-item"] {
      text-decoration: none;
      [class^="nav-link"] {
        color: rgb(92, 92, 92);
        opacity: 80%;
        // color: whitesmoke;
      }
      [class^="nav-link"]:hover {
        opacity: 100%;
      }
    }
  }
  .footer-nav {
    margin-top: 10px;
  }
  .nav-item--social {
    margin: 0 10px;
  }

  .copyright {
    text-align: center;
    color: rgb(92, 92, 92);
    // color: whitesmoke;
  }
}
@media screen and(min-width:600px) {
  .footer{
    height: 150px;
  }

}
