@import "/src/assets/scss/variables/fonts";
.home-container {
  width: 100vw;
  height: 100vh;
}

.home-content {
  display: flex;
  height: 100%;
  width: 100%;

  .header {
    height: 270px;
    background-color: rgb(106, 168, 192);
    // background-attachment: fixed;
    .top-nav {
      z-index: 0;
      padding: 0;
      .nav-top {
        padding: 0;
        display: none !important;
        [class^="item-top"] {
          list-style: none;
          margin: auto 10px;
          .link-top {
            font-family: $main-font;
            font-size: medium;
            text-decoration: none;
            color: rgb(240, 240, 240);
          }
        }
      }
      .menu-btn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
.home-main {
  width: 100%;
  height: 100%;
}

.home-sidenav {
  padding: 20px;
  background-color: rgba($color: white, $alpha: 0.8);
  .side-nav {
    .nav-side {
      padding: 0;
      [class^="item-side"] {
        list-style: none;
        .link-side {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .home-content {
    .header {
      background-size: 800px;
      .top-nav {
        .nav-top {
          display: flex !important;
        }
        .menu-btn {
          display: none;
        }
      }
    }
  }
  .nav-side {
    display: none;
  }
}
