<mat-drawer-container class="home-container" autosize>
  <mat-drawer #drawer class="home-sidenav" mode="over">
    <p>FlyingWhale</p>
    <nav class="side-nav">
      <ul fxLayout="column" fxLayoutAlign="center center" class="nav-side">
        <li class="item-side">
          <button mat-button href="" class="link-side">Gallery</button>
        </li>
        <li class="item-side">
          <button mat-button href="" class="link-side">About</button>
        </li>
        <li class="item-side">
          <button mat-button href="" class="link-side">Logos</button>
        </li>
        <li class="item-side">
          <button mat-button href="" class="link-side">Illustrations</button>
        </li>
        <li *ngIf="currentUser" class="item-side--admin">
          <button mat-button routerLink="/items" class="link-side">Admin</button>
        </li>
      </ul>
    </nav>
  </mat-drawer>

  <div class="home-content">
    <nav fxFlex  class="top-nav">
      <ul fxLayout="row" fxLayoutAlign="space-around" class="nav-top">
        <li class="item-top">
          <button mat-button href="" class="link-top">Gallery</button>
        </li>
        <li class="item-top">
          <button mat-button href="" class="link-top">About</button>
        </li>
        <li class="item-top">
          <button mat-button href="" class="link-top">Logos</button>
        </li>
        <li class="item-top">
          <button mat-button href="" class="link-top">Illustrations</button>
        </li>
        <li *ngIf="currentUser" class="item-top--admin">
          <button mat-button routerLink="/items" class="link-top">Admin</button>
        </li>
      </ul>
      <button class="menu-btn" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    </nav>

  </div>

</mat-drawer-container>
