@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";

.page-container {
  height: 100%;
  width: 100%;
  .page-content {
    height: 100%;
    width: 100%;
  }
}
.drawer {
  padding: 20px;
  background-color: rgba($color: $primary-blue, $alpha: 0.8);
}
.footer {
  margin-top: auto;
}
@media screen and (min-width: 600px) {
  .drawer {
    display: none;
  }
}
