<div
  fxFlex
  fxLayoutAlign="center center"
  fxLayout="column"
  class="form-container"
>
  <h2 mat-dialog-title>Are you sure?</h2>

  <div fxLayout="row" class="btn-group">
    <button
      mat-raised-button
      color="warn"
      type="submit"
      (click)="onDelete()"
    >
      Yes
    </button>
    <button mat-raised-button (click)="close()">No</button>
  </div>
</div>
