<header
  fxFlex="100"
  class="header"
  fxLayout="row wrap"
  fxLayoutAlign="center end"
>
  <div fxFlex="100" fxLayoutAlign="center" class="logo">
    <!-- <img class="logo-img" src="../../../../assets/img/logo/logo_owl.png" /> -->
     <img
      class="logo-img"
      src="../../../../assets/img/logo/flying_whale_logo.png"
      alt="flying whale logo"
      loading="lazy"
    />
    <!-- <img
      class="logo-img"
      (contextmenu)="onRightClick($event)"
      src="../../../../assets/img/about_img.png"
    /> -->
  </div>

  <nav class="top-nav">
    <ul class="nav-top">
      <li class="item-top">
        <button
          mat-button
          routerLink="about"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-top"
        >
          About
        </button>
      </li>
      <li class="item-top">
        <button
          mat-button
          routerLink="portraits"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-top"
        >
          Portraits
        </button>
      </li>
      <li class="item-top">
        <button
          mat-button
          routerLink="greet-print"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-top"
        >
          Greeting cards\Prints
        </button>
      </li>
      <li class="item-top">
        <button
          mat-button
          routerLink="illustrations"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-top"
        >
          Illustrations
        </button>
      </li>
      <li class="item-top">
        <button
          mat-button
          routerLink="logos"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-top"
        >
          Logos
        </button>
      </li>
      <li class="item-top">
        <button mat-button class="link-top" [matMenuTriggerFor]="more">
          <b>More</b>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #more="matMenu">
          <button mat-menu-item routerLink="calendars">Calendars</button>
          <button mat-menu-item routerLink="t-shirts">T-shirts</button>
          <button mat-menu-item routerLink="bags">Bags</button>
          <button mat-menu-item routerLink="notebooks">Notebooks</button>
        </mat-menu>
      </li>
      <li *ngIf="!isLoggedIn()" class="item-top--admin">
        <button mat-button routerLink="/login" class="link-top">Login</button>
      </li>
      <li *ngIf="isLoggedIn()" class="item-top--admin">
        <!-- <label for="">{{counter }}</label> -->
        <button mat-button [matMenuTriggerFor]="menu" class="link-top">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/admin/items">Admin</button>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </li>
    </ul>

  </nav>
  <div class="menu-btn--container">
      <button
        class="menu-btn"
        type="button"
        mat-button
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
</header>
