@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
.header {
  height: 270px;
  background-color: $primary-blue;
  // background-attachment: fixed;
  .logo-img{
    width: 200px;
    height: 180px;
  }
  .top-nav {
    z-index: 0;
    padding: 0;
    .nav-top {
      padding: 0;
      display: none !important;
      [class^="item-top"] {
        list-style: none;
        margin: auto 10px;
        .link-top {
          font-family: $main-font;
          font-size: medium;
          text-decoration: none;
          color: black;
        }
      }
      .item-top--admin{
        position: absolute;
        top: 0;
        right: 0;
        .link-top {
          font-weight: bold;
        }
      }
    }
    .menu-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.active{
  color: rgb(255, 255, 255) !important;
}
@media screen and (min-width: 600px) {
  .header {
    background-size: 800px;
    .top-nav {
      .nav-top {
        display: flex !important;
      }
      .menu-btn {
        display: none;
      }
    }
  }
}
