@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
.header {
  height: 270px;
  background-color: $primary-blue;
  // background-color: whitesmoke;
  // background-attachment: fixed;
  .logo {
    margin-top: 100px;
  }
  .logo-img {
    width: 180px;
    margin-bottom: 50px;
  }
  .top-nav {
    z-index: 0;
    padding: 0;
    .nav-top {
      padding: 0;
      display: none !important;
      [class^="item-top"] {
        list-style: none;
        margin: auto 10px;
        .link-top {
          font-family: $main-font;
          font-size: 15px;
          font-weight: bold;
          font-display: swap;
          text-decoration: none;
          color: black;
        }
      }
      .item-top--admin {
        position: absolute;
        top: 0;
        right: 0;
        .link-top {
          font-weight: bold;
        }
      }
    }
  }
}
.menu-btn--container {
  display: block;
  position: fixed;
  background-color: rgba($primary-blue, 0.8);
  height: 40px;
  width: 100%;
  top: 0;
  z-index: 1;
  .menu-btn {
    position: fixed;
    top: 0;
    right: 0;
  }
}
.active {
  //color:  rgb(183, 218, 212) !important;
 color: rgb(255, 255, 255) !important;
}
@media screen and (min-width: 600px) {
  .header {
    background-size: 800px;
    .logo-img {
      width: 170px;
      margin-bottom: 25px;
    }
    .top-nav {
      .nav-top {
        display: flex !important;
      }
    }
    .menu-btn--container{
      display: none;
    }
  }
}
