<div
  class="form-container"
  fxFlex
  fxLayoutAlign="center center"
  fxLayout="column"
>
  <h2 mat-dialog-title>Edit</h2>
  <form
    fxFlex
    fxLayoutAlign="center center"
    fxLayout="column"
    [formGroup]="form"
    class="form"
  >
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" readonly/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" />
    </mat-form-field>
    <div fxLayout="row" class="btn-group">
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Mentés
      </button>
      <button mat-raised-button (click)="close()">Mégse</button>
    </div>
  </form>
</div>
