<mat-drawer-container class="page-container" autosize>
  <mat-drawer #drawer class="drawer" mode="over">
    <p>FlyingWhale</p>
    <app-main-side-nav></app-main-side-nav>
  </mat-drawer>
  <div class="page-content" fxLayoutAlign="center" fxLayout="row wrap">
    <app-main-header
      fxFlex="100"
      class="header"
      fxLayout="row"
      fxLayoutAlign="center end"
      [drawer]="drawer"
    ></app-main-header>
    <main fxFlex="100" fxFlex.gt-md="90" class="page-main" fxLayout="row wrap">
      <div *ngIf="item$ | async as item">
        <img src="{{ item.previewImage }}" alt="" srcset="" />
        <p>{{item.name}}</p>
      </div>
      <app-item-card-container
        fxLayoutAlign="center"
        fxFlex="100"
        fxLayout="row wrap"
      ></app-item-card-container>
    </main>
  </div>
</mat-drawer-container>
